#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #D2D4C8;
}

.title {
  font-size: 84px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #5F7470;
}

.all-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #889696;
  border-radius: 5px;
  width: 300px;
  background-color: #B8BDB5;
}

.product img {
  width: 80%;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.149);
}

.product h2,
.product p {
  color: black;
}

.product:hover {
  margin: 1rem;
  padding: 1rem;
  border: 3px solid #889696;
  background-color: #889696;
  width: 350px;
  cursor: pointer;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #D5BDAF;
}

.product-description {
  font-style:italic;
}